<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsfjOUD1Brry4huLJ_9NiM1afwAZdtoW4</string>
	<key>GCM_SENDER_ID</key>
	<string>405691551008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kh.org.childhelplinecambodia.youthhealth</string>
	<key>PROJECT_ID</key>
	<string>adolescents-web-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>adolescents-web-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405691551008:ios:b64b51b4802386a5abdb45</string>
</dict>
</plist>